
{{#extend "layout"}}
  {{#content "body"}}
    <header>
      <p>
        <a href="/">Home</a>
      </p>

    </header>
    <h1>{{ title }}</h1>
    <time>{{ date }}</time>
    {{#block "project-content"}}{{/block}}
    <footer>
    </footer>
  {{/content}}
{{/extend}}
