<div class="responsive-demo">
  <div class="devices-wrapper-center">
    <div class="devices-wrapper">
      <div class="device-frame device-window">
        <div class="frame-wrapper device-window">
          <iframe class="window" src="http://{{site}}/"></iframe>
        </div>
      </div>
      <div class="device-frame device-tablet">
        <div class="frame-wrapper device-tablet">
          <iframe class="tablet" src="http://{{site}}/"></iframe>
        </div>
      </div>
      <div class="device-frame device-handset">
        <div class="frame-wrapper device-handset">
          <iframe class="handset" src="http://{{site}}/"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
