@import 'https://fonts.googleapis.com/css?family=Trirong:100,400|Open+Sans:300,400';

$blue: rgba(91, 192, 235, 1);
$yellow: darken(rgba(253, 231, 76, 1), 15%);
$green: rgba(155, 197, 61, 1);
$red: rgba(229, 89, 52, 1);
$orange: rgba(250, 121, 33, 1);
$lightest: lighten(black, 95%);

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.big {
  font-family: 'Trirong', serif;
  font-weight: 100;
  font-size: 15vw;
  // margin-bottom: -20px;
  // margin-top: -20px;
  @media screen and (min-width: 900px) {
    font-size: 10vw;
  }
}

h1 {
  line-height: 1.2;
  font-family: 'Trirong';
  font-weight: 400;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.project-title {
  margin-bottom: 60px;
  margin-top: 20px;
}

hr {
  border: none;
  border-bottom: 1px dashed black;
}

.links {
  li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    ul {
      color: black;
      padding: 0;
      margin-right: 30px;
      margin-left: 30px;
      overflow: hidden;
      width: 300px;
      max-width: 30%;
      a {
        display: block;
        // width: 150px;
        max-width: 100%;
        transition: border-color .4s ease;
        color: black;
        border-top: 5px solid $lightest;
        border-bottom: 5px solid $lightest;
        padding: 15px;
        text-decoration: none;
        font-size: 24px;
        @media screen and (max-width: 480px) {
          font-size: 20px;
        }
        &:hover {
          border-color: $green;
        }
      }
    }
  }
}

.narrow {
  width: 840px;
  max-width: 90%;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  p, li {
    font-size: 21px;
    line-height: 1.58;
    // letter-spacing: .003em;
    font-weight: 300;
    @media screen and (max-width: 460px) {
      font-size: 18px;
    }
  }
}

blockquote {
  font-family: Trirong;
  font-style: italic;
  font-size: 24px;
  font-weight: 100;
  &::before, &::after {
    content: '"';
  }
}

.tech {
  margin-top: -40px;
  // text-align: center;

  .github {
    display: inline-block;
    position: relative;
    margin-top: -20px;
    top: 26px;
    margin-right: 10px;
    img {
      height: 62px;
    }
    transition: opacity .2s ease;
    opacity: 1;
    &:hover {
      opacity: .6;
    }
  }

}

.tech-category {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  border-radius: 9999px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;

  &:after {
    position: absolute;
    font-size: 11px;
    font-weight: 00;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: -14px;
  }

  margin-bottom: 20px;

  &.frameworks {
    background-color: $blue;
    &:after {content: 'Frameworks'}
  }
  &.languages {
    background-color: $yellow;
    &:after {content: 'Languages'}
  }
  &.services {
    background-color: $green;
    &:after {content: 'Services'}
  }
  &.tools {
    background-color: $orange;
    &:after {content: 'Tools'}
  }
  &.design {
    background-color: $red;
    &:after {content: 'Design'}
  }

}

.tech-item {
  color: rgba(0,0,0,.8);
  text-decoration: none;
  display: inline-block;
  padding: 10px;

  margin-bottom: 10px;
  margin-right: 5px;

  border-radius: 500px;

  background-color: rgba(255,255,255,.3);
  transition: background-color .2s ease;
  &:hover {
    background-color: rgba(255,255,255,.6);
  }
}

.image {
  text-align: center;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.narrow {
  .image {
    max-height: 500px;
  }
}

.project-thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-thumb {
  transition: border .25s ease;
  // background-color: $red;
  &:hover {
    border: 5px solid $green;
    .title {
      border-top: 5px solid lighten($green, 5);
      border-bottom: 5px solid lighten($green, 5);
    }
  }
  margin: 10px;
  border: 5px solid $lightest;
  padding: 15px;
  .image {
    height: 200px;
  }

  .title {
    transition: border 1s ease;
    margin-top: 10px;
    font-size: 24px;
    border-top: 5px solid $lightest;
    border-bottom: 5px solid $lightest;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
  }
  color: black;
  text-decoration: none;
}

.pswp__bg {
  background-color: white !important;
}

.nav {
  max-width: 100%;
  $nav-color: lighten(black, 70%);
  font-size: 16px;
  font-weight: 100;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 999px;
  color: $nav-color;
  a {
    color: $nav-color;
  }

}

.video {

}

video {
  max-width: 100%;
}