---
foo: 'bar'
---

{{#extend "layout"}}
  {{#content "body"}}
  <div class="center">
    <div class="big">Ben Hirsch</div>
    <div>
      <span class="height-preserver">I</span>
      <span class="gag-title" id="gag-title">Web Dev Rockstar</span>
      <span class="height-preserver">I</span>
    </div>
    <div class="links">
      <li>
        <ul><a href="/projects">Projects {{author}}</a></ul>
        <ul><a href="/resume">Resumé</a></ul>
      </li>
    </div>
  </div>

  <div class="message-gag-wrapper">
    <div class="message-gag">
     </div>
  </div>

  <hr>
  <h1>Projects</h1>
  <ul>
  {{#each @root.Projects}}
   <li><a href="{{url this}}">{{frontMatter.title}}</div></li>
  {{/each}}
  </ul>

  {{/content}}

  {{#content "footer"}}
    <script type="text/javascript" src="/scripts/script.js"></script>
  {{/content}}

{{/extend}}