---
foo: 'bar'
---

{{#extend "layout"}}
  {{#content "body"}}
  <div class="center">
    <div class="big">Ben Hirsch</div>
    <div>
      <span class="height-preserver">I</span>
      <span class="gag-title" id="gag-title">Web Dev Rockstar</span>
      <span class="height-preserver">I</span>
    </div>
    <div class="links">
      <li>
        <ul><a id="projects-link" href="/#projects">Projects {{author}}</a></ul>
        <ul><a target="_blank" href="/public/resume,10-15-16.pdf">Resumé</a></ul>
      </li>
    </div>
  </div>

  <div class="message-gag-wrapper">
    <div class="message-gag">
     </div>
  </div>

  <hr>
  <div class="center" id="projects">
    <h1 class="big">Projects</h1>
  </div>
  <div class="project-thumbs">
    {{#each @root.Projects}}
      {{>project-thumb this}}
    {{/each}}
  </div>

  {{/content}}

  {{#content "footer"}}
    <script type="text/javascript" src="/scripts/script.js"></script>
  {{/content}}

{{/extend}}