<!DOCTYPE html>
<html>
<head>
  <title>Duane Stanford</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/duane.css">
</head>
<body>
<h1>Duane Stanford</h1>
<h2>Subversive artist</h2>
</body>
</html>